
<Files ".cvspass">
	Deny from all
</Files>

<Files "config.php">
	Deny from all
</Files>

<Files "config.php">
	Deny from all
</Files>

<Files "config.php">
	Deny from all
</Files>

<Files "config.php">
	Deny from all
</Files>

<Files "config.php">
	Deny from all
</Files>

<Files "config.php">
	Deny from all
</Files>

<Files "config.php">
	Deny from all
</Files>

<Files "config.php">
	Deny from all
</Files>
