RewriteEngine on
RewriteRule ^(.*)$ $1/view [NE]

RewriteRule ^(.*)/view$ view.php?id=$1 [NE]

ErrorDocument 404 error.php


# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteRule ^(.+)errata\.html?$ cgi-bin/errata/errata-html/$1
