div.toolbar {
	position: relative;
	vertical-align: top;
	text-align: center;
}

div.metadata {
	position: relative;
	text-align: left;
	border-style: none;
	float: left;
}

div.lock {
	position: relative;
	text-align: right;
	border-style: none;
	float: right;
}

div.optional {
	position: relative;
	text-align: left;
	border-style: none;
	float: center;
}

div.content {
	position: relative;
	border-style: none;
	margin-top: 3ex;
	float: left;
	vertical-align: bottom;
	width: 100%;
}

div.source1 {
	position: relative;
	text-align= left;
	border-style: none;
	float: left;
	width: 50%;
}

div.source2 {
	position: relative;
	text-align= left;
	border-style: none;
	float: right;
	width: 50%;
}

img {
	border-style:none;
}

body {
	background-color: white;
}

div.alert {
  text-align: center;
  background-color: #FEFBA7;
  border-width: 1;
  border-color: black;
  border-style: solid;
  width: 60%;
}
